body, html{
    height: 100;
}

body.beige {
    height: 100%;
    background-color: #f2efe8;
}


.frontpage {
    background-image: url("./paras-removed.jpg");
    background-color: #0E61E3;
    height: 100%;

    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    box-sizing: content-box;
    /*position: relative;*/

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    background-size: cover;
    overflow: hidden;
}

/*@media only screen and (max-width: 600px) {
    .frontpage {
        background-image: url("./paras-removed-400x500.jpg");
    }
}*/


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#parasailing {
    max-width: 50%;
}

.btn {
    border: 2px solid black;
    background-color: transparent;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}



/* Green */

.default {
    border-color: white;
    color: white;
}

.default:hover {
    background-color: white;
    color: black;
}

p {
    padding: 1em;
}

.topIndent {
    margin-top: 2em;
}

.bottomSpace {
    margin-bottom: 2em;
}

.justice {
    font-family: "futura-pt";
    font-size: 29px;
    line-height: 1.35em;
    text-transform: none;
    font-weight: 300;
    font-style: italic;
    margin: 1.5em 0;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 40px;
    -webkit-margin-end: 40px;
}

.albumWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    /*padding: 5em;*/
}

.videoWrapper {
    padding: 5em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#vid {
    flex-direction: column;
}

.vidText {
    max-width: 640px;
}